<div class="search-form">
    <form method="POST", action="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search somthing</label>
            <input type="search" name = 'q' class="form-control" id="inputSearch">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search somthing</label>
            <select name="gender" id="gender">
                <option value="none">--none--</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>